.Icon-frame {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0px);
  color: black;
}

.Icon-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.First-frame {
  height: 400px;
  width: 100%;
  color: #ddd;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
}

.App-title-frame {
  height: 50px;
  width: 80%;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0px);
  color: black;
}

.App-title {
  white-space: normal;
  text-align: center;
  font-size: large;
}

.App-text-frame {
  height: 150px;
  width: 80%;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, 0px);
  color: black;
}

.App-frame {
  height: 400px;
  width: 240px;
  position: relative;
  display: inline-block;
  background: #eee;
  margin: 20px;
  color: black;
  font-weight: 600;
  filter: drop-shadow(0px 2px 4px #ccc);
  border-radius: 3px;
}
.App-frame:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}

.App-Phone {
  margin: 40px auto;
  display: flex;
}
