
.Inventory-Icon-frame{
    height: 60px;
    position:absolute;
    left: 50%;
    transform: translate( -50%, 0px);
}

.Inventory-title-frame{
    height: 10px;
    width: 80%;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate( -50%, 0px);

}


.Inventory-title{
    text-align: center;
    font-size: medium;
}


.Inventory-text-frame{
    height: 10px;
    width: 80%;
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translate( -50%, 0px);
}

.Inventory-text{
    text-align: center;
    font-size: medium;
}





.Inventory-frame  {
    height: 200px;
    width: 150px;
    position: relative;
    justify-content: space-around;
    background: #eee; 
    align-items: center;
    /* margin: 0 auto;
    padding: 10px 25px;
     */
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    filter: drop-shadow(0px 2px 4px #ccc);
    border-radius: 3px;
}
.Inventory-frame:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}